[core]
  pager = less
  editor = vim

[log]
  pager = less

[color]
  status = auto
  diff = auto
  branch = auto
  ui = auto

[user]
  name = David Chua
  email = zhchua@gmail.com

[alias]
  co = checkout
  st = status
  ci = commit
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  h = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  changes = diff --cached

[branch]
  # prevents git merges upon git pull ; always rebase
  autosetuprebase = always

